[Unit]
Description=Shows number of package updates available
After=network.target

[Timer]
OnBootSec=2m
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target
