[Unit]
Description=Shows number of package updates available
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/e4/.local/bin/pkgs
