$include /etc/inputrc
"\e[5~":history-search-backward
"\e[6~":history-search-forward

set colored-stats on
set completion-ignore-case on
set completion-prefix-display-length 3
set mark-symlinked-directories on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set visible-stats on

set vi-ins-mode-string \1\e[5 q\2
set vi-cmd-mode-string \1\e[2 q\2
set show-mode-in-prompt on
